{% extends 'layouts/base.html' %}
{% load static %}

{% block content-header %}
  <ul class="list-group list-group-horizontal mt-5 align-items-baseline mb-4">
    <li class="list-group-item border-0 px-0">
      <h1>Settings</h1>
    </li>
  </ul>
{% endblock %}

{% block left-column %}

  <div class="tab-content">
        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
            <form>
                <div class="form-outline mb-2">
                    <input type="text" id="signup-login" class="form-control" />
                    <label class="form-label" for="signup-login">Login/Username</label>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-2">
                    <input type="email" id="signup-email" class="form-control" />
                    <label class="form-label" for="signup-email">Email</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-2">
                    <input type="password" id="signup-password" class="form-control" />
                    <label class="form-label" for="signup-password">Password</label>
                </div>

                <div class="form-outline mb-2">
                    <input type="password" id="repeat-password" class="form-control" />
                    <label class="form-label" for="repeat-password">Repeat password</label>
                </div>

                <div class="form-outline mb-4">
                    <input class="form-control" type="file" id="signup-avatar">
                    <label class="form-label" for="signup-avatar">Avatar</label>
                </div>


                 <button type="submit" class="btn btn-outline-primary">Update</button>
            </form>
        </div>
    </div>
{% endblock %}